<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<body>
    <!-- Page content-->
    <div layout:fragment="content">
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Post content-->
                    <article>
                        <!-- Post header-->
                        <header class="mb-4">
                            <!-- Post title-->
                            <h1 class="fw-bolder mb-1" th:text="${board.title}">This is title</h1>
                            <div class="d-inline p-2" th:text="'작성자 : ' + ${board.getWriterName()}">작성자 이름</div>
                            <div class="d-inline p-2"
                                 th:text="'작성 일자 : ' + ${#temporals.format(board.getCreatedAt(),'yyyy-MM-dd HH:mm')}">작성 일자</div>
                            <!-- Post categories-->
                        </header>
                        <!-- Preview image figure-->
                        <figure class="mb-4">
                            <img class="img-fluid rounded" th:src="|/images/${board.fileId}|" alt="" />
                        </figure>
                        <!-- Post content-->
                        <section class="mb-5">
                            <p class="fs-5 mb-4" th:text="${board.content}">This is content</p>
                        </section>
                    </article>
                    <section class="md-5 my-3">
                        <button class="btn btn-primary btn-sm" th:attr="onclick=|onClickEdit(${board.id})|">글 수정</button>
                        <button class="btn btn-danger btn-sm" th:attr="onclick=|onClickDelete(${board.id})|">글 삭제</button>
                    </section>

                    <!-- Comments section-->
                    <section class="mb-5">
                        <div class="card bg-light">
                            <div class="card-body">
                                <!-- Comment form-->
                                <form class="mb-4" th:action="@{'/board/' + ${board.id} + '/comment'}" method="post" th:if="${userEmail ne null}">
                                    <textarea class="form-control" name="content" id="content" type="text" rows="3" placeholder="댓글 작성..."></textarea>
                                    <button type="submit" class="btn btn-outline-dark btn-sm my-1">댓글 저장</button>
                                </form>
                                <!--comments-->
                                <div th:each="comment : ${board.comments}">
                                    <div class="d-flex">
                                        <div class="d-flex mb-4 flex-fill">
                                            <!--comment-->
                                            <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                            <div class="ms-3 flex-fill">
                                                <div class="fw-bold" th:text="${comment.writerName}">작성자</div>
                                                <p class="card-text" th:text="${comment.content}">댓글 내용</p>
                                            </div>
                                        </div>
                                        <form class="md-5 my-3" th:action="@{'/board/' + ${board.id} + '/comment/' + ${comment.id}}" th:if="${comment.writerEmail eq userEmail}" >
<!--                                            <button type="button" class="btn btn-primary btn-sm">수정</button>-->
                                            <button type="submit" class="btn btn-secondary btn-sm">삭제</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <script th:inline="javascript">
                        function onClickEdit(id) {
                            location.href=`/board/editForm/${id}`
                        }

                        function onClickDelete(id) {
                            if (confirm('글을 삭제하시겠습니까?')) {
                                location.href=`/board/deleteForm/${id}`
                            }
                        }
                    </script>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
