<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<body>
<div layout:fragment="content">
    <!-- Page content-->
    <div class="container" style="max-width: 600px">
        <div style="padding-top:15px;">
            <h3 href="#">게시글 목록</h3>
            <hr class="my-2">
        </div>

        <!-- Blog post-->
        <div th:if="${#lists.isEmpty(boards)}" style="padding-top:15px; padding-bottom: 15px">
            <p>게시물이 없습니다.</p>
        </div>

        <div th:each="board : ${boards}">
            <div class="card mb-4">
                <a href="#!"><img class="card-img-top"
                                  src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg" alt="..."/></a>
                <div class="card-body">
                    <div class="small text-muted" th:text="${board.createdAt}">Date</div>
                    <h2 class="card-title h4" th:text="${board.title}">Post Title</h2>
                    <p class="card-text" th:text="${board.content}">content</p>
                    <a class="btn btn-primary" href="#!">Read more →</a>
                </div>
            </div>
        </div>

        <!-- Pagination-->
        <nav aria-label="Pagination">
            <hr class="my-0"/>
            <ul class="pagination justify-content-center my-4">
<!--                <li class="page-item disabled">-->
<!--                    <a class="page-link"  tabindex="-1" aria-disabled="true">이전</a>-->
<!--                </li>-->
                <th:block th:each="page : ${#numbers.sequence(pageNumber.startPage, pageNumber.endPage)}">
                    <li class="page-item active" aria-current="page" th:if="${page == pageNumber.nowPage}">
                        <a class="page-link" th:text="${page}">1</a>
                    </li>
                    <li class="page-item" aria-current="page" th:if="${page != pageNumber.nowPage}">
                        <a class="page-link" th:href="@{/boards(page = ${page-1})}" th:text="${page}">1</a>
                    </li>
                </th:block>
<!--                <li class="page-item"><a class="page-link" th:href="@{/boards(page=${nowPage+1})}">다음</a></li>-->
            </ul>
        </nav>
    </div>
</div>
</body>
</html>