<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
      xmlns:th="https://www.thymeleaf.org"
>
>
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<div layout:fragment="content">
  <section class="vh-100" style="background-color: #508bfc;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
              <h3 class="mb-5">수정이 완료되었습니다.</h3>
              <a th:href="@{/}" class="btn btn-primary form-control"> 메인 페이지로 돌아가기 </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
</body>
</html>